header {
	background: blueviolet;
	display: flex;
	justify-content: center;
	align-content: center;
}

nav {
	background: whitesmoke;
	max-width: 1000px;
	margin: auto;
}

.flex-jc-sp {
	display: flex;
	justify-content: space-between;
}

.flex-jc-sa {
	display: flex;
	justify-content: space-around;
}


.flex-jc-se {
	display: flex;
	justify-content: space-evenly;
}

.flex-dc {
	flex-direction: column;
}

.flex-dr {
	flex-direction: row;
}

.flex-dcr {
	flex-direction: column-reverse;
}

.flex-drr {
	flex-direction: row-reverse;
}