header {

}

nav {

}

.flex-jc-sp {

}

.flex-jc-sa {
	display: flex;
	justify-content: space-around;
}


.flex-jc-se {
	display: flex;
	justify-content: space-evenly;
}

.flex-dc {
	flex-direction: column;
}

.flex-dr {
	flex-direction: row;
}

.flex-dcr {
	flex-direction: column-reverse;
}

.flex-drr {
	flex-direction: row-reverse;
}
